.in{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height:24px;
    border: 1px solid #dfe1ed;
    border-radius: 24px;
}
.img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    margin-top: 50px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #dfe1e5;
    color: black;
    border: none;

}

