.bigd{
    display: flex;
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
   
}

.text{
    display: block;
    padding: 0px;
    margin-left: 40px;
    text-align: center;
    border-bottom: none;
}
.pic{
    padding: 0px;
    border-bottom: none;
}

